name: Build
on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode:
          - std
          - startup
        lang:
          - sc
          - tc
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: install spruce
        run: |
          id
          wget -nv https://github.com/geofffranks/spruce/releases/download/v1.29.0/spruce-linux-amd64
          chmod a+x spruce-linux-amd64
          mv spruce-linux-amd64 ~/go/bin/spruce

      - name: build
        env:
          MODE: ${{ matrix.mode }}
          LANG: ${{ matrix.lang }}
        run: |
          make build MODE=$MODE LANG_TYPE=$LANG
          echo "VERSION=$(git describe --tags)" >> $GITHUB_ENV

      - name: publish
        env:
          MODE: ${{ matrix.mode }}
          LANG: ${{ matrix.lang }}
        run: |
          make publish MODE=$MODE LANG_TYPE=$LANG
          mkdir -p build/mods/wing
          cp -r wing.mpq build/mods/wing
          cd build
          zip -r wing-$MODE-$LANG-$VERSION.zip mods
          ls -l wing-*.zip

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: build/wing-*.zip
          name: wing-${{ matrix.mode }}-${{ matrix.lang }}
          if-no-files-found: error

  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: artifact
          pattern: wing-*
          merge-multiple: true

      - name: List downloaded artifacts
        run: ls -lR artifact/*.zip

      - name: Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          files: |
            artifact/*.zip

